<div class="d-flex justify-content-center my-5">

    <form class="example-form">

        <h1>Update Product:</h1>

        <h3>Product info:</h3>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Product Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always" class="example-full-width">
            <mat-label>Product Value</mat-label>
            <input matInput maxlength="14" class="example-right-align" currencyMask placeholder="Ex. 1,500.00">
        </mat-form-field>




        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Product Status</mat-label>
                <mat-select>
                    <mat-option value="true">Active</mat-option>
                    <mat-option value="false">Inactive</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Product Quantity</mat-label>
                <input matInput type="number" />
            </mat-form-field>
        </div>


        <h3>Supplier info:</h3>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Supplier Code</mat-label>
            <input matInput type="number" />
        </mat-form-field>


            <button type="button" mat-raised-button color="warn" (click)="openDialog()">Update Product</button>


    </form>


</div>